:root{
	--main-color:#DA2C32;
	--light-color:#666;
	--light-bg:#eee;
	--white:#fff;
	--black:#303030;
	--border:.1rem solid var(--light-color);
	--box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
 }
 
 *{
	font-family: 'Montserrat', sans-serif;
	margin: 0; padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
 }
 
 *::selection{
	background-color: var(--main-color);
	color: var(--white);
 }
 
 *::-webkit-scrollbar{
	height: .5rem;
	width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
	background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
	background-color: var(--main-color);
 }
 
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 10rem;
 }
 .html.centent{
	margin: 5%;
	padding: 5%;
	text-align: center;
	font-size: 3rem;
	color: #000;
 }
 .btn,
.inline-btn{
   margin-top: 1rem;
   padding: 1rem 3rem;
   background-color: var(--main-color);
   color: var(--white);
   cursor: pointer;
   text-align: center;
   font-size: 1.8rem;
   text-transform: capitalize;
}

.btn:hover,
.inline-btn:hover{
   background-color: var(--black);
}

.btn{
   display: block;
   width: 100%;
}

.inline-btn{
   display: inline-block;
}

.flex-btn{
   display: flex;
   gap: 1rem;
   justify-content: space-between;
   align-items: flex-end;
}

body{
	margin: 0%;
	padding: 0%;
	font-family: sans-serif;
	background:url(agentt.jpg) no-repeat;
	background-attachment:fixed;
	background-position: center;
	display:inline-flexbox;
}

 .home {
	margin: 6%;
	padding: 6%;
	min-height:70vh;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;	
}
.home .center{
	min-height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
 }
 
 .home .center form{
	background-color: var(--white);
	padding: 2rem;
	box-shadow: var(--box-shodow);
	width: 50rem;
 }
 
 .home .center form h3{
	padding-bottom: 1rem;
	text-align: center;
	color: var(--black);
	text-transform: capitalize;
	font-size: 2.5rem;
 }
 
 .home .center form .flex{
	display: flex;
	gap:1rem;
	flex-wrap: wrap;
 }
 
 .home .center form .box{
	flex: 1 1 20rem;
 }
 
 .home .center form .box .input{
	width: 100%;
	border: var(--border);
	padding: 1.4rem;
	color: var(--black);
	font-size: 1.8rem;
	margin: 1rem 0;
 }
 
 .home .center form .box p{
	color: var(--light-color);
	font-size: 1.7rem;
	padding-top: 1rem;
 }
 
 .home .center form .box p span{
	color: var(--main-color);
 }
 
.home form .inputbox input,.home form .inputbox select
{
 flex: 1rem;
 gap: 1.4rem;
}

ul{
	position:absolute;
	top: 10%;
	left: 45%;
	transform: translate(-50%,-50%);
	margin: 5rem;
	padding: 10px 0; 
	background: #fff; 
	display: flex; 
	border-radius: 12px; 
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
}
ul li{
	list-style:armenian;
	text-align:justify;
	display: block;
	border-right: 1px solid rgba(0,0,0,0.2);
}
ul li:last-child{
	border-right: none;
}
ul li a{
	text-decoration: none;
	padding: 0 50px;
	display: block;
}
ul li a .icon{
	width: 30px; 
	height: 30px; 
	text-align: center;
	overflow: hidden;
	margin: 0 auto 10px;
	
}
ul li a .icon .fa{
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-size: 25px;
	transition: 0.5s;
	color: #000;
}
ul li a .icon .fa:last-child{
	color: aquamarine;
}
ul li a:hover .icon .fa{
	transform: translateY(-100%); 
}
ul li a .name{
	position: relative;
	height: 20px; 
	width: 100%;
	display: block;
	overflow: hidden;
}
ul li a .name span{
	display: block;
	position: relative;
	color: #333;
	font-size: 15px; 
	line-height: 20px;
	transition: 0.5s; 
	
}
ul li a .name span:before{
	content: attr(data-text);
	position: absolute;
	top: -100%;
	width: 100%;
	left: 0;
	height: 1005;
	color:aquamarine;
	
}
ul li a:hover .name span{
	transform: translateY(20px);
}

.section .inputbox{
	margin-top: 1rem;
	padding: 1rem 3rem;
	background-color: var(--light red);
	color: var(--white);
	cursor: pointer;
	text-align: center;
	font-size: 1.9rem;
	text-transform: capitalize;
}